---
title: '03 Responsive layouts with Jeet'
author: 'Thiago de Bastos'
_content: false
category: 'jeet'
---

extends ../views/_single

block content
	.jeet-responsive-layouts
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
		img(src="http://placekitten.com/g/800/600")
