---
date: 2014-01-15
title: 01 Isotope Test
description: A testing page for Isotope JS
category: code
tags: [test]
relatedimageurl: http://lorempixel.com/325/250/abstract/1
googlewebfonts: Lato|Open+Sans:400,700,800
height: 125px
_content: false
---
//- extends /_layouts/single-thought
//- append config
//- 	-var jQuery = true
//- 	-var PullDown = false

//- append content
//- 	h1 Isotope - filtering
//- 	#filters.button-group
//- 		button.button.is-checked(data-filter="*") show all
//- 		button.button(data-filter=".thoughts") thoughts
//- 		button.button(data-filter=".creations") creations
//- 		button.button(data-filter=".code") code
//- 		button.button(data-filter=".portfolio") portfolio

//- 	.isotope
//- 		each post in site.posts.all()
//- 			if site.posts.all(category)
//- 				unless post.title === undefined
//- 					.transition.isotope__element(data-category= post.category class= post.category)
//- 								h3.name= post.title
//- 								p.symbol= post.category.substring(0, 3)
//- 								p.weight= post.category

//- 		each post in site.portfolio.all()
//- 			.transition.isotope__element(data-category= post.category class= post.category)
//- 						h3.name= post.title
//- 						p.symbol= post.category.substring(0, 3)
//- 						p.weight= post.category
	
//- 		hr
//- 	append siteJS
//- 		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js')
//- 		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.min.js')
//- 		script(src='/assets/js/custom/isotope-filter.js')
//- 		script.
//- 			if (window.jQuery) {
//- 				$('#gotJquery').html("jQuery has been loaded!");
//- 				};
				
//- 	append footer
//- 		//- check if jQuery is loaded
//- 		h3#gotJquery Nope, no jQuery :(

