---
title: '03 ems and ems'
author: 'Thiago de Bastos'
_content: false
category: 'code'
---

extends ../views/_single

block content
	.code-rems-and-ems
		.breakdown
			.square--px
				p 160px square
			.square--rem
				p 10rem square
			.square--em
				p 10em square
	
			.divider
