---
title: 'Jeet Span'
author: 'Thiago de Bastos'
_content: false
category: 'jeet'
---

extends ../views/_single

block content
	.jeet-span
		.container
			img.logo(src="http://2lcvgikr3ei5mzvzhonrz1cx.wpengine.netdna-cdn.com/wp-content/uploads/2009/04/dizcow-493x328.jpg", alt="logo")
			
			nav
				a(href="#") Link
				a(href="#") Link
				a(href="#") Link
				a(href="#") Link

		.gallery
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")
			img(src="http://420placehold.it/space/400-300", alt="spacetacular")

