---
title: 'Jeet Gutters'
author: 'Thiago de Bastos'
_content: false
category: 'jeet'
---

extends ../views/_single

block content
	.jeet-gutters
		section
			aside Sidebar
			.gallery
				img(src="http://placekitten.com/g/1000/800")
				img(src="http://placekitten.com/g/1000/800")
				img(src="http://placekitten.com/g/1000/800")
				img(src="http://placekitten.com/g/1000/800")

