---
title: '01 vertical rhythm'
author: 'Thiago de Bastos'
_content: false
category: 'typography'
---

extends ../views/_single
block styles
	link(rel="stylesheet", href="/css/posts/typography-01-vertical-rhythm.css")

block content
	.typography-vertical-rhythm
		.breakdown
			article
			
				:markdown
					<br>
					<br>
					# Heading One fin
					---
					<br>
					## Introduction

					When you were a kid and wanted to do something your parents or teachers didn’t like, you may have heard the question, “If everyone else jumped off a bridge, would you?” The idea is that it’s not good to do something stupid, even if everyone else is doing it. The logic is think for yourself instead of following the crowd.

					### Advice
					It’s good advice, regardless of the motivations of the authority figure giving it to you. But one day, you grow up and suddenly the tables are turned. People start expecting you to behave very much like they do. If you disagree and don’t _conform to their expectations_, some of them get confused or irritated. It’s almost as if they are asking: “Hey, everyone else is jumping off the bridge. Why aren’t you?”

					>  There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning.

					Every day, you’ll encounter the bridge in countless decisions and conversations—but the choice of whether to jump or not is completely up to you. How can you back away and make your own choices?

					### Try this:

					1. _Ask why_. A powerful, annoying question, why is frequently used by three-year-olds but usually abandoned by adults. Support the why revolution. Start asking why of everyone, including yourself.

					2. _Clarify_. What’s it all about? What do you really want to do, and how can you make that the priority?

					3. _Simplify_. That’s what minimalism is all about—letting go and living the dream. But the best part of simplicity has nothing to do with how many socks you own; it lies in being clear about your intentions and motivations.

					4. _Do … more_. That’s right, do more, not less. When you don’t know your core passions and are staring out over the bridge, it’s good to back off and strip everything down. But when you’re crafting a remarkable life, why wouldn’t you want more of it?


